.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $neutral-black;
}

.bg-modal-gray {
    background-color: $modal-gray;
}
//

.padding-12-16 {
    padding: $space-3 $space-4;
}